This notebook extracts primary features from the review text. These features are on simple summary statistics of the review text or aspects of the documents that will be removed during tokenisation, such as:
- Raw character count
- Raw word count
- Number of punctuation marks
- Number of capital letters
- Number of numeric characters

In [6]:
%reload_kedro

2019-06-30 17:04:44,952 - root - INFO - ** Kedro project TWA Assignment
2019-06-30 17:04:44,955 - anyconfig - INFO - Loading: /Users/tomduke/Documents/Academic/MBusA/Modules/M3 - Advanced Analytics/TWA/MBUSA_Text_Web_Analytics/conf/base/logging.yml
2019-06-30 17:04:44,969 - anyconfig - INFO - Loading: /Users/tomduke/Documents/Academic/MBusA/Modules/M3 - Advanced Analytics/TWA/MBUSA_Text_Web_Analytics/conf/base/catalog.yml
2019-06-30 17:04:44,980 - anyconfig - INFO - Loading: /Users/tomduke/Documents/Academic/MBusA/Modules/M3 - Advanced Analytics/TWA/MBUSA_Text_Web_Analytics/conf/base/credentials.yml
2019-06-30 17:04:44,987 - anyconfig - INFO - Loading: /Users/tomduke/Documents/Academic/MBusA/Modules/M3 - Advanced Analytics/TWA/MBUSA_Text_Web_Analytics/conf/base/parameters.yml
2019-06-30 17:04:44,993 - root - INFO - Defined global variables proj_dir, proj_name, conf and io

In [7]:
from nltk.corpus import stopwords
stops = stopwords.words('english')
stops

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [2]:
from string import punctuation
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [8]:
def _word_count(text):
    return len(text.split())

def _char_count(text):
    return len(text)

def _avg_word(text):
    words = text.split() 
    return sum(len(word) for word in words)/len(words)

def _stop_count(text):
    return len([word for word in text.split() if word in stops])

def _num_count(text):
    return len([word for word in text.split() if word.isdigit()])

def _upper_count(text):
    return len([word for word in text.split() if word.isupper()])

def _punc_count(text):
    return len([word for word in text.split() if word in punctuation])

In [9]:
reviews = io.load('reviews_clean')
reviews['text_word_count'] = reviews['review_text'].apply(_word_count)
reviews['text_char_count'] = reviews['review_text'].apply(_char_count)
reviews['text_avg_word'] = reviews['review_text'].apply(_avg_word)
reviews['text_stop_count'] = reviews['review_text'].apply(_stop_count)
reviews['text_stop_freq'] = reviews['text_stop_count'] / reviews['text_word_count']
reviews['text_num_count'] = reviews['review_text'].apply(_num_count)
reviews['text_upper_count'] = reviews['review_text'].apply(_upper_count)
reviews['text_punc_count'] = reviews['review_text'].apply(_punc_count)
reviews.head()

2019-06-30 17:05:14,482 - kedro.io.data_catalog - INFO - Loading data from `reviews_clean` (PickleLocalDataSet)...

,product_id,author_age,review_title,review_text,star_rating,recommend_flag,upvotes,product_category_division,product_category_department,product_category_class,text_word_count,text_char_count,text_avg_word,text_stop_count,text_stop_freq,text_num_count,text_upper_count,text_punc_count
id,,,,,,,,,,,,,,,,,,
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,intimates,intimate,intimates,8,53,5.750000,2,0.250000,0,0,1
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,general,dresses,dresses,62,303,3.822581,30,0.483871,0,0,0
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,general,dresses,dresses,98,500,4.112245,45,0.459184,0,1,1
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,general petite,bottoms,pants,22,124,4.681818,6,0.272727,0,1,0
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,general,tops,blouses,36,192,4.361111,19,0.527778,0,0,0

In [10]:
reviews.filter(like = 'text').describe()

,text_word_count,text_char_count,text_avg_word,text_stop_count,text_stop_freq,text_num_count,text_upper_count,text_punc_count
count,22641.000000,22641.000000,22641.000000,22641.000000,22641.000000,22641.000000,22641.000000,22641.000000
mean,60.196679,308.687911,4.194436,28.999867,0.467805,0.318449,0.391105,0.197739
std,28.534612,143.940048,0.391952,15.052407,0.072077,0.728459,0.488009,0.611713
min,2.000000,9.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,36.000000,186.000000,3.945946,16.000000,0.434783,0.000000,0.000000,0.000000
50%,59.000000,301.000000,4.151515,28.000000,0.477612,0.000000,0.000000,0.000000
75%,88.000000,459.000000,4.385965,42.000000,0.514563,0.000000,1.000000,0.000000
max,115.000000,508.000000,8.750000,68.000000,0.666667,8.000000,1.000000,8.000000

In [11]:
text_summary = io.load('text_summary')

2019-06-30 17:05:33,553 - kedro.io.data_catalog - INFO - Loading data from `text_summary` (PickleLocalDataSet)...

In [12]:
text_summary.head()

,review_text,text_word_count,text_char_count,text_avg_word,text_stop_count,text_stop_freq,text_num_count,text_upper_count,text_punc_count
id,,,,,,,,,
0,Absolutely wonderful - silky and sexy and comf...,8,53,5.750000,2,0.250000,0,0,1
1,Love this dress! it's sooo pretty. i happene...,62,303,3.822581,30,0.483871,0,0,0
2,I had such high hopes for this dress and reall...,98,500,4.112245,45,0.459184,0,1,1
3,"I love, love, love this jumpsuit. it's fun, fl...",22,124,4.681818,6,0.272727,0,1,0
4,This shirt is very flattering to all due to th...,36,192,4.361111,19,0.527778,0,0,0

In [15]:
text_summary[text_summary.text_upper_count > 0].review_text

id
2        I had such high hopes for this dress and reall...
3        I love, love, love this jumpsuit. it's fun, fl...
5        I love tracy reese dresses, but this one is no...
6        I aded this in my basket at hte last mintue to...
7        I ordered this in carbon for store pick up, an...
8        I love this dress. i usually get an xs but it ...
15       I took these out of the package and wanted the...
18       A flattering, super cozy coat.  will work well...
19       I love the look and feel of this tulle dress. ...
24       I love this shirt because when i first saw it,...
26       I have been waiting for this sweater coat to s...
28       I have several of goodhyouman shirts and i get...
31       I never would have given these pants a second ...
33       I ordered this 3 months ago, and it finally ca...
45       I bought this item from online... the fit on t...
46       I love this top. i wear it all the time.  the ...
51       I absolutely love this bib tee! it's probably ...
56       I am pregnant and i thought this would be a gr...
58       I got this in the petite length, size o, and i...
62       I recently got this on sale after looking at i...
68       I really loved this top online and wanted to l...
69       I really wanted this to work. alas, it had a s...
72       I have a short torso and this works well for m...
73       I love this top. it is loose and comfortable. ...
74       I passed up this dress so many times in the st...
75       I am so drawn to baby doll and boxy shirts so ...
76       I would have loved this dress if the bust and ...
78       I usually size up with this brand. small was p...
80       I am usually a petite 6 but since this dress d...
83       I purchased this top in an antro store last we...
                               ...
23402    I got this shirt in red plaid and love it. sup...
23403    I originally purchased this dress in a petite ...
23406    I was very excited to find a fun and lightweig...
23408    I love this dress but it definitely runs big. ...
23411    I bought this sweater because i love twinkle's...
23413    I love the detail on this shirt!  it is sheer,...
23418    I wanted to love this top but found it to run ...
23425    A great long line bra! beautiful and well made...
23428    I must say that at first i had mixed feelings ...
23438    I feel like snagging a pair of these was the e...
23440    I tried on this dress in the store and was ple...
23445    I love this jacket so much, i bought two. it g...
23447    I really wanted to like this dress and was enc...
23448    I like the contrast of the skirt with the bodi...
23449    I tried these on because the color is really p...
23450    I wanted to love this jacket. so soft and grea...
23451    I recently purchased this dress at my local re...
23452    I ordered this skirt hoping i could wear it to...
23453    I am 5' 2" about 118 lbs. thought this fit rea...
23456    I have been on a search for a dress with sleev...
23460    I purchased this for a very good price and i t...
23461    I tried these on at the store and the fit was ...
23464    I wore this dress to work the other day and go...
23465    I bought this dress for work and post work hap...
23467    I worry when i have an elastic waist, or somet...
23468    I love this little chemise! the adjustable str...
23472    I saw the shirt on the retailer website and ne...
23478    I was surprised at the positive reviews for th...
23481    I was very happy to snag this dress at such a ...
23484    I bought this dress for a wedding i have this ...
Name: review_text, Length: 8855, dtype: object